<div class="container-header" >
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand-top" href="/">The Seasonal Chef</a>
  </nav>
</div>
<div class="container-welcome" >
  <p>The Seasonal Chef is the most trusted, authoritative, and award-winning digital voice in food. Our ubiquitous, ground-breaking webapp empower food lovers everywhere.</p>
</div>
<div class="container-footer" >
 <nav class="navbar fixed-bottom navbar-light bg-light">
   <a class="navbar-brand-bottom" href="/about">About</a> |
   <a class="navbar-brand-bottom">All Rights Reserved</a> |
   <a class="navbar-brand-bottom" href="/contact">Contact</a>
 </nav>
</div>
