<div class="container-header" >
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand-top" href="/">The Seasonal Chef</a>
  </nav>
</div>
<div class="container-about" >
  <nav class="paragraph">The Seasonal Chef is a tool designed to help you search for recipes which are based off of ingredients that can be locally grown, and purchased during that time of the year.</nav>
  <br>
  <nav class="paragraph">We provide you with the ability to quickly locate farmer’s markets that are within your area with the simple click of a button.</nav>
  <br>
  <nav class="paragraph">You may also click on the state that you want, and there will be a list of ingredients as a result.  From there you can select up to five ingredients, and through the help of Recipe Puppy’s API it will return a list of recipes that utilize those ingredients.</nav>
  <br>
  <nav class="paragraph">The idea is to build upon the database that we’ve begun working on, and continue to provide the idea of utilizing ingredients that are being grown by farms within your area.</nav>
</div>
<div class="container-footer" >
 <nav class="navbar fixed-bottom navbar-light bg-light">
   <a class="navbar-brand-bottom" href="/about">About</a> |
   <a class="navbar-brand-bottom">All Rights Reserved</a> |
   <a class="navbar-brand-bottom" href="/contact">Contact</a>
 </nav>
</div>
