<div class="container-header" >
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand-top" href="/">The Seasonal Chef</a>
  </nav>
</div>
<div class="container-contact" >
  <div class="member" >
    <div class="josh">
      <img src="DelSestoJoshua.jpg" />
      <br>
      <a>Joshua Del Sesto</a>
      <br>
      <a href="https://www.facebook.com/jdelsesto" target="_blank" class="fa fa-facebook-official fa"></a>
      <a href="https://github.com/ChefDel70" target="_blank" class="fa fa-github-alt fa"></a>
      <a href="https://www.linkedin.com/in/josh-del-sesto-bb5726121/"target="_blank" class="fa fa-linkedin-square fa"></a>
    </div>
    <div class="nick">
      <img src="KautzNick.jpg" />
      <br>
      <a>Nick Kautz</a>
      <br>
      <a href="https://github.com/NKautz" target="_blank" class="fa fa-github-alt fa"></a>
      <a href="https://www.linkedin.com/in/nicholas-kautz-b19a022a/"target="_blank" class="fa fa-linkedin-square fa"></a>
    </div>
    <div class="mike">
      <img src="ParkMichael.jpg" />
      <br>
      <a>Michael Park</a>
      <br>
      <a href="https://www.facebook.com/michael.s.park.98" target="_blank" class="fa fa-facebook-official fa"></a>
      <a href="https://github.com/mach20x" target="_blank" class="fa fa-github-alt fa"></a>
      <a href="https://www.linkedin.com/in/michael-park1251/"target="_blank" class="fa fa-linkedin-square fa"></a>
    </div>
  </div>
</div>
<div class="container-footer" >
 <nav class="navbar fixed-bottom navbar-light bg-light">
   <a class="navbar-brand-bottom" href="/about">About</a> |
   <a class="navbar-brand-bottom">All Rights Reserved</a> |
   <a class="navbar-brand-bottom" href="/contact">Contact</a>
 </nav>
</div>
