<div class="container-header" >
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand-top" href="/">The Seasonal Chef</a>
  </nav>
</div>
<div class="container-welcome" >
  <p>Welcome!<br>Would you like to know what local ingredients are in season?</p>
  <p id="gm"><%= link_to 'Search For Local Markets', 'https://www.google.com/maps/search/?q=farmers+market', class: "btn btn-light btn-lg", id: "gmapi", target: "_blank" %></p>
  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d52338.84805329764!2d-80.2226614790407!3d25.801697294468262!3m2!1i1024!2i768!4f13.1!2m1!1sfarmers+market!5e0!3m2!1sen!2sus!4v1511027195765" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
</div>
<div class="container-dropdown" >
  <%= form_tag("/ingredients", method: "get") do %>
    <%= select_tag(:state_id, options_for_select(@states.sort.map{|state| [state.name, state.id]}), prompt: "Please Select A State", onfocus: 'this.size=4;', onblur:'this.size=1;', onchange:'this.size=1; this.blur(); this.form.submit();') %>
  <% end %>
</div>
<div class="container-footer" >
 <nav class="navbar fixed-bottom navbar-light bg-light">
   <a class="navbar-brand-bottom" href="/about">About</a> |
   <a class="navbar-brand-bottom">All Rights Reserved</a> |
   <a class="navbar-brand-bottom" href="/contact">Contact</a>
 </nav>
</div>
