<body>
  <div class="container" >
    <div class="container-header" >
      <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand-top">The Seasonal Chef</a>
      </nav>
    </div>
    <div class="container-welcome" >
      <p>Welcome!<br>Would you like to know what local ingredients are in season?</p>
    </div>
    <div class="container-dropdown" >
      <select onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
        <option>Please Select Your State</option>
          <% @states.each do |s| %>
          <!-- <option onclick="window.location.href = '/_____________?state=<%= s.name.downcase %>'"> -->
          <option>
            <%= s.name %>
          </option>
          <% end %>
      </select>
    </div>
    <div class="container-footer" >
      <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand-bottom">All Rights Reserved</a>
      </nav>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
