<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="ingredient_states.scss">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!-- <script type="text/javascript" src="welcome.js"></script> -->
  </head>
  <body>
    <div class="container" >
      <div class="container-header" >
        <nav class="navbar fixed-top navbar-light bg-light">
          <a class="navbar-brand-top">The Seasonal Chef</a>
        </nav>
      </div>
      <div class="container-welcome" >
        <p>Welcome!<br>Would you like to know what local ingredients are in season?</p>
      </div>
      <div class="container-dropdown" >
        <select onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
          <option>Please Select Your State</option>
          <option href="#">Alabama</option>
          <option href="#">Alaska</option>
          <option href="#">Arizona</option>
          <option href="#">Arkansas</option>
          <option href="#">California</option>
          <option href="#">Colorado</option>
          <option href="#">Connecticut</option>
          <option href="#">Delaware</option>
          <option href="#">Florida</option>
          <option href="#">Georgia</option>
          <option href="#">Hawaii</option>
          <option href="#">Idaho</option>
          <option href="#">Illinois</option>
          <option href="#">Indiana</option>
          <option href="#">Iowa</option>
          <option href="#">Kansas</option>
          <option href="#">Kentucky</option>
          <option href="#">Louisiana</option>
          <option href="#">Maine</option>
          <option href="#">Maryland</option>
          <option href="#">Massachusetts</option>
          <option href="#">Michigan</option>
          <option href="#">Minnesota</option>
          <option href="#">Mississippi</option>
          <option href="#">Missouri</option>
          <option href="#">Montana</option>
          <option href="#">Nebraska</option>
          <option href="#">Nevada</option>
          <option href="#">New Hampshire</option>
          <option href="#">New Jersey</option>
          <option href="#">New Mexico</option>
          <option href="#">New York</option>
          <option href="#">North Carolina</option>
          <option href="#">North Dakota</option>
          <option href="#">Ohio</option>
          <option href="#">Oklahoma</option>
          <option href="#">Oregon</option>
          <option href="#">Pennsylvania</option>
          <option href="#">Rhode Island</option>
          <option href="#">South Carolina</option>
          <option href="#">South Dakota</option>
          <option href="#">Tennessee</option>
          <option href="#">Texas</option>
          <option href="#">Utah</option>
          <option href="#">Vermont</option>
          <option href="#">Virginia</option>
          <option href="#">Washington</option>
          <option href="#">West Virginia</option>
          <option href="#">Wisconsin</option>
          <option href="#">Wyoming</option>
        </select>
      </div>
      <div class="container-footer" >
        <nav class="navbar fixed-bottom navbar-light bg-light">
          <a class="navbar-brand-bottom">All Rights Reserved</a>
        </nav>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
